server:
  port: 8070
spring:
  application:
    name: winter-service-user

  datasource:
    name: test
    url: jdbc:mysql://localhost:3306/adminlte_admin?useUnicode=true&characterEncoding=utf8
    username: adminlte
    password: adminlte
    driver-class-name: com.mysql.jdbc.Driver

  jpa:
    properties:
      hibernate:
        hbm2ddl:
          auto: update
eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:3300/eureka/
      #defaultZone: http://user:${eureka.password}@localhost:8761/eureka/

## 日志管理控制
debug: false
logging:
  file: /tmp/winter/${spring.application.name}.log
  level:
    root: INFO
    cn.letcode: DEBUG
    org.springframework.web: WARN
    org.hibernate: ERROR